<div class="appContainer">
  <div class="clockBox" (click)="toggleClockSpeed()">
    <span class="clockText">{{ formatTime(currentTime) }}</span>
    <span class="clockIcon">🕒</span>
  </div>

  <div class="reminderList">
    <div *ngFor="let reminder of reminders" [ngClass]="{'passed':reminder.isPast}">
      <span>{{ reminder.text }}</span>
      <span>{{ reminder.time }}</span>
    </div>
  </div>

  <form [formGroup]="reminderForm" class="addReminder" (ngSubmit)="addReminder()">
    <input type="text" placeholder="Reminder..." formControlName="text">
    <input type="time" formControlName="time">
    <button type="submit">Add Reminder</button>
  </form>
</div>